<hr />
<table class="ui-state-highlight ui-corner-all tbl_info">
  <tr>
    <td class="colspacing">A Shift</td>
    <td class="colspacing">10.30 am to 2.30 pm</td>
    <td class="colspacing">Split</td>
    <td>5.30 pm to 9.30 pm</td>
  </tr>
  <tr>
    <td class="colspacing">B Shift</td>
    <td class="colspacing">11.00 am to 3.00 pm</td>
    <td class="colspacing">Split</td>
    <td class="colspacing">6.00 pm to 10.00 pm</td>
  </tr>
  <tr>
    <td class="colspacing">C Shift</td>
    <td class="colspacing">11.00 am to 3.00 pm</td>
    <td class="colspacing">Split</td>
    <td class="colspacing">6.30 pm to 10.30 pm</td>
  </tr>
  <tr>
    <td class="colspacing">D Shift</td>
    <td class="colspacing">1.30 am to 6.00 pm</td>
    <td class="colspacing" colspan="2">Dinner break</td>
  </tr>
  <tr>
    <td class="colspacing">E Shift</td>
    <td class="colspacing">11.00 am to 3.00 pm</td>
    <td class="colspacing" colspan="2">Part timers only</td>
  </tr>
  <tr>
    <td class="colspacing">F Shift</td>
    <td class="colspacing">6.30 pm to 10.30 pm</td>
    <td class="colspacing" colspan="2">Part timers only</td>
  </tr>
  <tr>
    <td class="colspacing">SP</td>
    <td colspan="3">
  </tr>
  <tr>
    <td class="colspacing">OFF</td>
    <td colspan="3">
  </tr>
  <tr>
    <td class="colspacing">OTHERS</td>
    <td colspan="3">
  </tr>
</table>
